<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
		"-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.shopapi.brand.mapper.IBrandMapper">
	<sql id="brandWhere">
		<where>
			<if test="brandName != null and brandName != '' ">
				brandName like concat('%',#{brandName},'%')
			</if>
			<if test="isSellWell != null and isSellWell != '' ">
				and isSellWell=#{isSellWell}
			</if>
		</where>
	</sql>

	<!--查询总条数-->
	<select id="findTotalCount" parameterType="com.fh.shopapi.brand.param.BrandSearchParam" resultType="long">
		select count(*) from t_brand
			<include refid="brandWhere"/>
	</select>

	<!--分页查询数据-->
	<select id="findPageList" parameterType="com.fh.shopapi.brand.param.BrandSearchParam" resultType="com.fh.shopapi.brand.po.Brand">
		select t.* from (
			select id,brandName,photo,isSellWell,sort from t_brand
			<include refid="brandWhere"/>
			order by id desc
		) t
		limit #{start},#{length}
	</select>
	
</mapper>